.header{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.main {
    display: flex;
}

.card-izquierda {
    flex: 1;
}

.card-derecha {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
}